In [8]:
print ('Hello, Python!')

Hello, Python!

In [9]:
if True:
   print ("True")
else:
   print ("False")

True

In [10]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

In [11]:
print (counter)
print (miles)
print (name)

100
1000.0
John

Numbers
String
List
Tuple
Dictionary

In [18]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [19]:
str.upper()

'HELLO WORLD!'

In [21]:
str.lower()

'hello world!'

In [30]:
str.find('e')

1

In [22]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [14]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)           # Prints complete list
print (tuple[0])        # Prints first element of the list
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print (tuple[2:])       # Prints elements starting from 3rd element
print (tinytuple * 2)   # Prints list two times
print (tuple + tinytuple) # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [12]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list

TypeError: 'tuple' object does not support item assignment

In [32]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print (dict['one'])       # Prints value for 'one' key
print (dict[2] )          # Prints value for 2 key
print (tinydict )         # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

* Other Methods of LIST, TUPLE, DICT
* https://www.w3schools.com/python/python_ref_dictionary.asp

In [19]:
its_raining = True
if its_raining:
    print("Oh crap, it's raining!")

Oh crap, it's raining!

In [20]:
its_raining = 1
while its_raining<10:
    print("Oh crap, it's raining!")
    its_raining +=1
    # we'll jump back to the line with the word "while" from here
print("It's not raining anymore.")

Oh crap, it's raining!
Oh crap, it's raining!
Oh crap, it's raining!
Oh crap, it's raining!
Oh crap, it's raining!
Oh crap, it's raining!
Oh crap, it's raining!
Oh crap, it's raining!
Oh crap, it's raining!
It's not raining anymore.

In [22]:
its_raining = True
while its_raining:
    print("It's raining!")n
    
    answer = input("Or is it? (y=yes, n=no) ")
    if answer == 'y':
        print("Oh well...")
    elif answer == 'n':
        its_raining = False     # end the while loop
    else:
        print("Enter y or n next time.")
print("It's not raining anymore.")

It's raining!

Or is it? (y=yes, n=no)  b

Enter y or n next time.
It's raining!

Or is it? (y=yes, n=no)  n

It's not raining anymore.

functions

In [26]:
def hello():
  name = str(input("Enter your name: "))
  if name:
    print ("Hello " + str(name))
  else:
    print("Hello World") 
  return 
  
hello()

Enter your name:

Hello World

In [29]:
# Define `plus()` function
def plus(a,b):
  return a + b
  
# Call `plus()` function with keyword arguments
plus(b=2, a=1)

3

In [11]:
# Define `plus()` function to accept a variable number of arguments
def plus(*args):
  total = 0
  for i in args:
    total += i
  return total

# Calculate the sum  
plus(20,30,40,50)

140

In [30]:
# Global variable `init`
init = 1

# Define `plus()` function to accept a variable number of arguments
def plus(*args):
  # Local variable `sum()`
  total = 0
  for i in args:
    total += i
  return total
  
# Access the global variable
print("this is the initialized value " + str(init))

# (Try to) access the local variable
print("this is the sum " + str(total))

this is the initialized value 1

NameError: name 'total' is not defined

Anonymous Functions in Python

In [4]:
double = lambda x: x*2

double(5)

10

In [6]:
# `sum()` lambda function
sum = lambda x, y: x + y;

# Call the `sum()` anonymous function
sum(4,5)

# "Translate" to a UDF
def sum(x, y):
  return x+y

In [7]:
# Define `main()` function
def main():
  hello()
  print("This is a main function")

main()

Enter your name:  u

Hello u
This is a main function

In [8]:
# Define `main()` function
def main():
  hello()
  print("This is a main function")
  
# Execute `main()` function 
if __name__ == '__main__':
    main()

Enter your name:  y

Hello y
This is a main function

In [10]:
class Dog:
    """    
    Requires:
    legs - Legs so that the dog can walk.
    color - A color of the fur.
    """

    def __init__(self, legs, color):
        self.legs = legs
        self.color = color
        
    def bark(self):
        bark = "bark" * 2
        return bark

if __name__ == "__main__":
    dog = Dog(4, "brown")
    bark = dog.bark()
    print(bark)

barkbark

Modules

In [31]:
import random

In [32]:
random.randint(1, 100)

7